<ul class="nav nav-pills pull-right">
  <li><a href="#">Free Trial</a></li>
  <li><a href="#">View Demo</a></li>
  <% if !current_user.nil? %>
    <li><%= link_to('My Dashboard', :dashboard) %></li>
  <% else %>
    <li><%= link_to('Sign Up', :signup) %></li>
  <% end %>
</ul>
